# ===================================================================
# tpRigToolkit-tools-cookiecutter requirements file
# ===================================================================
cookiecutter