# ===================================================================
# tpRigToolkit-tools-{{cookiecutter.tool_name}} requirements file
# ===================================================================
tpRigToolkit-core